* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.terminos {
    margin: 60px;
    margin-top: 20px;
    color: rgb(45, 45, 45);
}
.terminos h1{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.terminos h2{
    font-size: 22px;
    margin-bottom: 8px;
}
.terminos p{
    font-size: 16px;
    margin-bottom: 30px;
    
}
.terminos  p{
    list-style: square inside url("sqpurple.gif");
}  

