
.formulario {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    background-image: linear-gradient(119deg, #000000 58%, #ec268f 100%);
}
.formulario .imagen{
    height: 400px;
    border-radius: 50%;
    
}

.imagen-b{
    margin-top: 100px;
    margin-bottom: 100px;
}

.boton_lista{
    background-image: linear-gradient(to right, #434343 0%, #000000  51%, #434343  100%);
    padding: 15px 35px;
    margin: 0;
    margin-left: 100px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.boton_lista:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.cuenta {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
}
.cuenta a{
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    width: 60%;
}
.p_info{
    background: #434343;
    text-align: center;
    width:60% ;
    border: 1px solid #fff;
    margin-left: 100px;
    margin-bottom: 20px
}