
/*-----------FORMULARIO-----------*/

.formulario {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    background-image: linear-gradient(119deg, #000000 58%, #ec268f 100%);
}

.form-registro {
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.control {
    width: 50%;
    background-color: #272727;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    font-size: 18px;
    color: #fff;
}

.form-registro p {
    height: 25%;
    text-align: center;
    font-size: 18px;
}

.form-registro a {
    color: #fff;
    text-decoration: none;
}

.form-registro a:hover {
    color: #fff;
    text-decoration: underline;
}
.form-registro .boton {
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
    padding: 15px 45px;
    margin: 0;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
.form-registro .boton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}


.cuenta {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}
.cuenta a{
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
}
.boton-eleccion {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    padding: 15px 45px;
    margin: 10px;
    width: 50%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
.boton-eleccion:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .formulario{
        grid-template-columns: repeat(1, 1fr);
    }
    .imagen{
        display: none;
    }
}