/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


-----------NAVBAR-----------

 .etiqueta__nav{
    position: sticky;
    top: 0;
    background-color: #000000;
    height: 80px;
    color: #fff;
 }

 .nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
 }

 .nav__logo{
    font-size: 1.5em;
    font-weight: 900;
 }

.nav__ul{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all .8s ease;
}
.nav__item a{
    transition: all .8s ease;
    text-decoration: none;
    color: #fff;
}
.nav__item:hover{
    color: #e065a7;
}
.nav__item a:hover{
    color: #e065a7;
}


.nav__ul{
    
    text-decoration: none;
}

.nav__label, .nav__input{
    display: none;

}



@media(max-width: 900px){
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__ul{
        position: fixed;
        top: 80px;
        bottom: 0;
        background:#000000;
        width: 100%;
        left: 0;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 50% 50%);;
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__ul{
        clip-path: circle(100% at center);
    }
}







----------- FIN NAVBAR-----------



-----------FIN HEADER-----------
.container h1 {
    text-decoration: none;
    color: white;
}

.container p {
    color: white;
}

.container a {
    text-decoration: none;
    color: white;
}

.container {
    background-image: url(/imagenes/pexels-pixabay-36741.jpg);
    min-height: 670px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    height: 600px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}

.row-2 {
    background: rgba(128, 128, 128, 0.24);
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;

}

.col {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    background: #EC268F;
    color: white;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 10px;
}

.separador {
    background-color: #EC268F;
    width: 100%;
    height: 10px;
}

-----------FIN HEADER-----------


-----------FOOTER----------

.footer {
    bottom: 0;
    width: 100%;
    background: #000;
    color: #848282;
}

.footer .footer-a {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.footer-columna-1 h3 {
    margin-top: 20px;
}

.footer-columna-2 h3 {
    text-align: center;
}

.footer-columna-2 ul {
    list-style: none;
    text-align: center;
}

.footer-columna-2 ul li a {
    text-decoration: none;
    color: white;
}


.footer-columna-3 h3 {
    text-align: center;
}

.footer-columna-3 .redes {
    text-align: center;
    padding: 30px;
}

.footer-columna-3 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #272727;
    border-radius: 10px;
    transition: all 300ms ease;
}

.footer-columna-3 .redes a:hover {
    background-color: #EC268F;
}

.footer-b {
    background-color: #1a1a1a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

-----------FIN FOOTER-----------










-----------FIN FORMULARIO-----------



@media screen and (max-width: 900px) {
    .formulario {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .footer-a {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-columna-1 {
        text-align: center;
    }
}*/