@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.pag__corta{
    min-height: 70vh;
    display: grid;
    justify-content: center;
}
.felicitaciones{
    justify-content: center;
    top: 50%;
    left: 50%;
}
.felicitaciones-hijo{
    text-align: center;
    position: absolute;
    border: 3px solid #000;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-grad {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.separador{
    width: 100%;
    height: 20px;
    background-color: #000;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #fefefe;
}

button {
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover {
    background-color: #EC268F;
}

hr {
    width: 30px;
    height: 2px;
    background-color: #EC268F;
}

.estrella {
    padding: 10px 0;
}

.estrella i {
    font-size: 0.8rem;
    color: goldenrod;
}

/*-----------NAVBAR-----------*/

.etiqueta__nav {
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #292929;
    height: 80px;
    color: #fff;
    z-index: 999;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
}

.hamburguesa {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.nav__ul {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    padding: 0;
}
.nav__ul a{
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: all .8s ease;
}

.nav__item a {
    transition: all .8s ease;
    text-decoration: none;
    color: #fff;
}

.nav__iconos li{
    margin-left: 30px;
    list-style:none;
}
.nav__iconos a{
    color: transparent;
}

.nav__item:hover {
    color: #e065a7;
}
.nav__item a:hover {
    color: #e065a7;
}

.nav__ul {
    text-decoration: none;
    margin: 0;
}
.nav__iconos {
    text-decoration: none;
    margin: 0;
}

.nav__label,
.nav__input {
    display: none;
}


@media(max-width: 1000px) {
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .hamburguesa{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #292929;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 50% 50%);
        transition: clip-path 1s ease-in-out;
    }
    .nav__ul { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav__iconos li{
        padding: 20px;
        margin: 0;
        margin-top: 40px;
        list-style:none;
    }

    .nav__input:checked+.hamburguesa {
        clip-path: circle(100% at center);
    }
}

/*----------- FIN NAVBAR-----------*/

#home {
    background-image: url(../imagenes/wine-1543170_1920.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: #EC268F;
}
.container button{
    transition: 0.5s;
    border-radius:5px;
}
.container button:hover{
    background-color: #EC268F;
}

/* Regiones */

.card img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: end;
    color: #000;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.card .card-body:hover {
    cursor: pointer;
    background-color: #29292980;
}



/* Productos */

.producto {
    cursor: pointer;
    margin-bottom: 2rem;
}

.producto img {
    transition: 0.3s all;
}

.producto:hover img {
    opacity: 0.7;
}

.producto .buy-btn {
    background: #EC268F;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.producto:hover .buy-btn {
    transform: translateY(0);
    opacity: 1;
}

#banner {
    background-image: url(../imagenes/fondovinoCorchos.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h4 {
    color: #d8d8d8;
}

#banner h1 {
    color: #ffffff;
}

#banner button {
    background-color: #000;
}
#banner button:hover {
    background-color: #e065a7;
}

/*-----------Carrito----------*/

#cart-container {
    overflow-x: auto;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background: #EC268F;
    color: #fff;
    border: none;
    padding: 6px;    
}

#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align:center;
}

#cart-container table td:nth-child(1) {
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: #8d8c89;
}

/* Cupon Descuento & Total */

#cart-bottom .cuponDescuento>div,
#cart-bottom .total>div {
    border: 1px solid #b6b3b3
}

#cart-bottom .cuponDescuento h5,
#cart-bottom .total h5 {
    background: #EC268F;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .cuponDescuento p,
#cart-bottom .cuponDescuento input{
    padding: 0 12px;
}

#cart-bottom .cuponDescuento input {
    height: 44px;
}

#cart-bottom .cuponDescuento input {
    height: 44px;
}

#cart-bottom .cuponDescuento input {
    margin: 0 0 20px 12px;
}

#cart-bottom .total div>div {
    padding: 0 12px;
}

#cart-bottom .total h6 {
    color: #2a2a2a;
}

.second-hr {
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

#cart-bottom .total button {
    margin: 5px 12px 10px 0;
    display: flex;
    margin-left: auto;
}



/*-----------FOOTER----------*/

.footer {
    margin-bottom: 0;
    width: 100%;
    background: #292929;
    color: rgb(255, 255, 255);
}

.footer .footer-a {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.footer-columna-1 h3 {
    margin-top: 20px;
}

.footer-columna-2 h3 {
    text-align: center;
}

.footer-columna-2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-columna-2 ul li a {
    text-decoration: none;
    color: white;
}


.footer-columna-3 h3 {
    text-align: center;
}

.footer-columna-3 .redes {
    text-align: center;
    padding: 30px;
}

.footer-columna-3 .redes a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all 300ms ease;
}

.footer-columna-3 .redes a:hover {
    background-color: #EC268F;
}

.footer-b {
    background-color: #1a1a1a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/*-----------FIN FOOTER-----------*/



.errorRojo{
    display: inline-block;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    width: 80%;
}
.errorIndex{
    text-align: center;
    background-color: #000;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    padding: 5px;
}
.formPendiente{
    text-align: center;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}
.botonForm{
    text-transform: uppercase;
    background-color: white;
    color: #000;
    padding: 3px;
    border-radius: 10px;
    transition: all .5s ease;
}


.exito{
    display: inline-block;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    width: 80%;
}

.exitoTienda{
    text-align: center;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 4px;
}

.exitoUsuario{
    margin: 0;
    margin-left: 100px;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    width: 60%;
}


/*-----------RESPONSIVE-----------*/



@media screen and (max-width: 900px) {
    .formulario {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .footer-a {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-columna-1 {
        text-align: center;
    }
}