<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <!-- Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/style.css">
    <!-- JavaScript -->
    <script src="/JS/script.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" <!-- Iconos -->
    <script src="https://kit.fontawesome.com/c3d241543d.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<style>
    .botones a{
        text-decoration: none;
    }
    tbody td h5{
        border­radius: 200px;
        overflow: hidden;
        font-size: medium;
    }

</style>

<body>
     <!-- Header -->


        <nav class="etiqueta__nav">

            <div class="nav__container">

                <div class="nav__logo">
                    <a href="/"><img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg"
                                     width="200px"></a>
                </div>


                <label for="menuId" class="nav__label">
                    <img src="/Menu-responsive/menu.svg" alt="nav__img" width="40px">
                </label>
                <input type="checkbox" id="menuId" class="nav__input">



                <ul class="nav__ul">

                    <li class="nav__item"><a href="/#home">Home</a></li>
                    <li class="nav__item"><a href="/#seccion_regiones">Regiones</a></li>
                    <li class="nav__item"><a href="/tienda">Tienda</a></li>
                    <li class="nav__item"><a href="/aboutUs">Contacto</a></li>

                   <!-- <a href="">
                        <li class="fa-solid fa-bag-shopping nav__item"></li>
                    </a>
                    <a href="">
                        <li class="fa-solid fa-heart nav__item"></li>
                    </a> -->

                    <a th:if="${session.usuarioSession == null}" th:href="@{/logueo}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                    
                    
                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'ADMINISTRADOR'}" th:href="@{/administradorweb(id=${session.usuarioSession.id})}"> 
                            <li class="fa-solid fa-user nav__item"></li>
                    </a>

                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'USUARIOCOMUN'}" th:href="@{/usuarioweb(id=${session.usuarioSession.id})}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                    
                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'PRODUCTOR'}" th:href="@{/productorweb(id=${session.usuarioSession.id})}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>

                    <a th:if="${session.usuarioSession != null}" th:href="@{/logout}"><li class="fa-solid fa-right-from-bracket nav__item"></li> </a>

                </ul>
            </div>
        </nav>
        <!-- Fin del header -->

    <!-- Titulo carrito -->
    <section id="carrito" class="">
        <div class="container mt-5 py-1">
            <h2 clas="font-weight-bold">Carrito de Compras</h2>
            
           
                
            <hr>
        </div>
    </section>

    <!-- carrito -->
    
    <section id="cart-container" class="container my-2">
        
        <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
   <p th:if="${exito != null}" th:text="${exito}" style="color:red"></p>
        <table width="100%">
            <thead>
                <tr>
                    <td>Eliminar</td>
                    <td>Imagen</td>
                    <td>Producto</td>
                    <td>Precio<d>
                    <td>Cantidad</td>
                    <td>Total</td>
                </tr>
            </thead>
                <p th:if="${compraEnCurso!= null}" th:text="${compraEnCurso}" style="color:red"></p>
            <tbody>
                <tr th:if="${carrito != null}" th:each="item : ${itemsCompra}">
                    <td><a th:href="@{/eliminarProducto(idProductoEliminar=${item.id}, idCompraEnCurso=${carrito.id} )}"><i class="fas fa-trash-alt"></i></a></td>
                    <td><img th:src="@{${'/imagen/productoimagen/' + item.producto.id}}" alt="Foto del producto"></td>
                    <td>
                        <h5 th:text="${item.producto.nombre}"></h5>
                    </td>
                    <td>
                        <h5  th:text="${item.producto.precio}"></h5>
                    </td>
                    <td><input th:value="${item.cantidad}" type="number" disabled></td>
                    <td>
                        <h5 th:text="${item.producto.precio * item.cantidad}"></h5>
                    </td>
                </tr>
                

            </tbody>
        </table>
    </section>

    <!-- Cupo de Descuento -->
    <section id="cart-bottom" class="container">
        <div class="row">
            <div class="cuponDescuento col-lg-6 col-md-6 col-12 mb-4">
                <div>
                    <h5>CUPON DE DESCUENTO</h5>
                    <P>Si tenés un código de cupón ahora podés agregarlo.</P>
                    <input type="text" placeholder="Ingresar cupón">
                    <button>APLICAR CUPÓN</button>
                </div>
            </div>
            <div class="total col-lg-6 col-md-6 col-12 mb-4">
                <div>
                    <h5>TOTAL DE LA COMPRA</h5>
                    <div class="d-flex justify-content-between">
                        <h6>Subtotal antes del envío</h6>
                        <p th:if="${subtotal != null}" th:text="${'$' +subtotal}"></p>
                    </div>
                     <hr class="second-hr">
                    <div class="d-flex justify-content-between">
                        <h6>Descuento por acumulación de compras anteriores (si sumaste más de $15.000 en compras anteriores y tu compra actual supera los $3.000) </h6>
                        <p th:if="${descuento != null}" th:text="${'-$' + descuento}"></p>
                    </div>
                    <hr class="second-hr">
                    <div class="d-flex justify-content-between">
                        <h6>Descuento por cupón </h6>
                        <p th:if="${cupon != null}" th:text="${'-$' + cupon}"></p>
                    </div>
                    <hr class="second-hr">
                    <div class="d-flex justify-content-between">
                        <h6>Envío fijo a todo el país </h6>
                        <p>$ 450.0</p>
                    </div>
                    <hr class="second-hr">
                    <div class="d-flex justify-content-between">
                        <h6>Total</h6>
                        <p th:if="${totalCompra != null}" th:text="${'$' + totalCompra}"> </p>
                    </div>
                    <div class="botones">
                    <a th:href="@{/checkout/(idCompra=${carrito.id})}" > <button id="botonCompra" class="ml-auto" >PROCEDER A LA COMPRA</button></a>
                    <a th:href="@{/tienda}"> <button id="botonCompra" class="ml-auto" >SEGUIR COMPRANDO</button></a>
                    <a th:href="@{/anularCompra/(idCompra=${carrito.id})}"> <button id="botonCompra" class="ml-auto" >ANULAR COMPRA</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- Footer -->

    <footer class="footer">
        <div class="footer-a">
            <div class="footer-columna-1">
                <img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg Footer" width="300px">
                <h3>
                    ¡Comprá los mejores vinos aquí!
                </h3>
            </div>

            <div class="footer-columna-2">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Regiones</a></li>
                    <li><a href="">Bodegas</a></li>
                    <li><a href="/tienda">Tienda</a></li>
                    <li><a href="mailto:vineyarg@vineyargentina.com.ar">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-columna-3">
                <h3>Nuestras Redes</h3>
                <div class="redes">
                    <a href="https://www.instagram.com/vineyarg/" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/vine-yarg-a05440240/" class="fa fa-linkedin"></a>
                    <a href="" class="fa-solid fa-at"></a>
                    <a href="mailto:vineyarg@vineyargentina.com.ar" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <small>&copy; <b>VineyArg</b> - Todos los Derechos Reservados. </small>
        </div>
        <div class="separador"></div>
    </footer>
    <!-- Fin del Footer -->

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>