<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VineyArg</title>

    <!-- Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/registros.css">
    <!-- JavaScript -->
    <script src="/JS/script.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/0bb0724c06.js" crossorigin="anonymous"></script>
    <!-- Links -->
</head>

<body>
    <!-- Header -->


    <nav class="etiqueta__nav">

        <div class="nav__container">

            <div class="nav__logo">
                <a href="/index.html"><img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg"
                        width="200px"></a>
            </div>


            <label for="menuId" class="nav__label">
                <img src="/Menu-responsive/menu.svg" alt="nav__img" width="40px">
            </label>
            <input type="checkbox" id="menuId" class="nav__input">



                 <div class="hamburguesa">
                <ul class="nav__ul">

                    <li class="nav__item"><a href="/">Home</a></li>
                    <li class="nav__item"><a href="">Regiones</a></li>
                    <li class="nav__item"><a href="">Bodegas</a></li>
                    <li class="nav__item"><a href="/tienda">Tienda</a></li>
                    <li class="nav__item"><a href="mailto:vineyarg@vineyargentina.com.ar">Contacto</a></li>
                </ul>

                <a th:if="${session.usuarioSession != null}" href="/logout"> Cerrar sesión </a><br>
                <a href="/"> Volver al menú principal</a>

                <ul class="nav__iconos">
                    <a href="">
                        <li class="fa-solid fa-bag-shopping nav__item"></li>
                    </a>
                    <a href="">
                        <li class="fa-solid fa-heart nav__item"></li>
                    </a>
                    <a th:if="${session.usuarioSession == null}" th:href="@{/logueo}"> 
                    
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                    <a th:if="${session.usuarioSession != null}"> 
                     <a th:if="${session.usuarioSession.tipoUsuario.toString() == 'ADMINISTRADOR'}" th:href="@{/administradorweb(id=${session.usuarioSession.id})}"> 
                    
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                       
                          <a th:if="${session.usuarioSession.tipoUsuario.toString() == 'USUARIOCOMUN'}" th:href="@{/usuarioweb(id=${session.usuarioSession.id})}"> 
                    
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                          <a th:if="${session.usuarioSession.tipoUsuario.toString() == 'PRODUCTOR'}" th:href="@{/productorweb(id=${session.usuarioSession.id})}"> 
                    
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
<!-- Fin del header -->



    <!-- FORMULARIO -->

    <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
            <p th:if="${registrado != null}" th:text="${registrado}" style="color:red"></p>
    <div class="formulario">

        <div class="imagen"> <img src="/imagenes/bottles-final.jpg" alt="" width="100%"></div>

        <section class="cuenta">
            <h4>
                ¿Qué tipo de usuario sos?
            </h4>
            <br>
            <a href="/registro-usuario">
                <input class="boton-eleccion" type="submit" value="Usuario">
            </a>
            <br>
            <a href="/registro-bodega">
                <input class="boton-eleccion" type="submit" value="Bodega">
            </a>
            <br>
            
            <a th:if="${session.usuarioSession != null}">
           <button th:if="${session.usuarioSession.tipoUsuario.toString() != 'ADMINISTRADOR'}" class="buy-btn" disabled>Esta opción está disponible solo para administradores logueados</button> <input th:if="${session.usuarioSession.tipoUsuario.toString() != 'ADMINISTRADOR'}" class="boton-eleccion" type="submit" value="Administrador">
                <a th:href="@{/registro-admin}"> <input th:if="${session.usuarioSession.tipoUsuario.toString() == 'ADMINISTRADOR'}" class="boton-eleccion" type="submit" value="Administrador">
                </a>  </a> 
            <a th:if="${session.usuarioSession == null}" >
               <button class="buy-btn" disabled>Esta opción está disponible solo para administradores logueados</button> <input class="boton-eleccion" type="submit" value="Administrador">
            </a>
            

        </section>

    </div>
    <!-- FIN DEL FORMULARIO -->


    <hr>


    <!-- Footer -->

    <div class="footer">
        <div class="footer-a">
            <div class="footer-columna-1">
                <img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg Footer" width="300px">
                <h3>
                    ¡Comprá los mejores vinos aquí!
                </h3>
            </div>
            <div class="footer-columna-2">
                <h3>Navegación</h3>
                <ul>
                 <li><a href="/">Home</a></li>
                    <li><a href="">Regiones</a></li>
                    <li><a href="">Bodegas</a></li>
                    <li><a href="/tienda">Tienda</a></li>
                    <li><a href="mailto:vineyarg@vineyargentina.com.ar">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-columna-3">
                <h3>Nuestras Redes</h3>
                <div class="redes">
                      <a href="https://www.instagram.com/vineyarg/" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/in/vine-yarg-a05440240/" class="fa fa-linkedin"></a>
                        <a href="" class="fa-solid fa-at"></a>
                        <a href="mailto:vineyarg@vineyargentina.com.ar" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <small>&copy; <b>VineyArg</b> - Todos los Derechos Reservados. </small>
        </div>
    </div>

    <!-- Fin del Footer -->

    <div class="separador"></div>

</body>

</html>