<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VineyArg</title>

    <!-- Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/CSS/registros.css">
    <!-- JavaScript -->
    <script src="/JS/script.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/0bb0724c06.js" crossorigin="anonymous"></script>
    <!-- Links -->
</head>

<body>
    <!-- Header -->


    <nav class="etiqueta__nav">

        <div class="nav__container">

            <div class="nav__logo">
                <a href="/index.html"><img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg"
                        width="200px"></a>
            </div>


            <label for="menuId" class="nav__label">
                <img src="/Menu-responsive/menu.svg" alt="nav__img" width="40px">
            </label>
            <input type="checkbox" id="menuId" class="nav__input">



                <ul class="nav__ul">

                    <li class="nav__item"><a href="/index.html">Home</a></li>
                    <li class="nav__item"><a href="">Regiones</a></li>
                    <li class="nav__item"><a href="">Bodegas</a></li>
                    <li class="nav__item"><a href="">Tienda</a></li>
                    <li class="nav__item"><a href="">Contacto</a></li>

                    <a href="">
                        <li class="fa-solid fa-bag-shopping nav__item"></li>
                    </a>

                    <a href="">
                        <li class="fa-solid fa-heart nav__item"></li>
                    </a>

                    <a href="/HTML/registro.html">
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>

                </ul>
        </div>
    </nav>
<!-- Fin del header -->



    <!-- FORMULARIO -->

    <div class="formulario">

        <div class="imagen"> <img src="/imagenes/bottles-final.jpg" alt="" width="100%"></div>

        <section class="form-registro">
            <h4>Registrate!</h4>
            <form action="/registrarUsuarioComun" method="POST" enctype="multipart/form-data">
                
                  <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                  
                  
               <input class="control" type="text" name="nombre" id="" placeholder="Ingresar su Nombre" required="" th:value="${nombre}">
                <input class="control" type="text" name="apellido" id="" placeholder="Ingresar su Apellido" required="" th:value="${apellido}">
                <input class="control" type="number" name="DNI" id="" placeholder="Ingresar su DNI" required="" th:value="${DNI}">
                <input class="control" type="date" name="fechaNacimiento" id="" placeholder="Ingresar su Fecha de nacimiento" required="" th:value="${fechaNacimiento}">
                <input class="control" type="email" name="correo" id="" placeholder="Ingresar su Email" required="" th:value="${correo}">
                <input class="control" type="password" name="clave1" id="" placeholder="Ingresar su Contraseña" required="" th:value="${clave1}">
                <input class="control" type="password" name="clave2" id="" placeholder="Vuelva a ingresra su Contraseña" required="" th:value="${clave2}">
                <input class="control" type="file" name="archivo" id="" placeholder="Podés cargar una foto de perfil" required="">
                <input class="control" type="hidden" name="tipoUsuario" id="" placeholder="Podés cargar una foto de perfil" required="" th:value="${USUARIOCOMUN}">
                <p><input type="checkbox" required=""> Estoy de acuerdo con <a href="/HTML/terminos-condiciones.html">Terminos y Condiciones</a></p>
                <input class="boton" type="submit" value="Registrarme">
                </form>
        </section>

    </div>
    <!-- FIN DEL FORMULARIO -->


    <hr>


    <!-- Footer -->

    <div class="footer">
        <div class="footer-a">
            <div class="footer-columna-1">
                <img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg Footer" width="300px">
                <h3>
                    ¡Comprá los mejores vinos Aquí!
                </h3>
            </div>
            <div class="footer-columna-2">
                <h3>Navegacion</h3>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="">Regiones</a></li>
                    <li><a href="">Bodegas</a></li>
                    <li><a href="">Tienda</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-columna-3">
                <h3>Nuestras Redes</h3>
                <div class="redes">
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-linkedin"></a>
                    <a href="" class="fa-solid fa-at"></a>
                    <a href="" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <small>&copy; <b>VineyArg</b> - Todos los Derechos Reservados. </small>
        </div>
    </div>

    <!-- Fin del Footer -->

    <div class="separador"></div>

</body>

</html>
© 2022 GitHub, Inc.
Terms
Privacy
Security
