<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VineyArg</title>

        <!-- Links -->
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/productorWeb.css">
        <!-- JavaScript -->
        <script src="/JS/script.js"></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
        <!-- Iconos -->
        <script src="https://kit.fontawesome.com/0bb0724c06.js" crossorigin="anonymous"></script>
        <!-- Links -->
    </head>

    <body>
        <!-- Header -->


        <nav class="etiqueta__nav">

            <div class="nav__container">

                <div class="nav__logo">
                    <a href="/"><img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg"
                                     width="200px"></a>
                </div>


                <label for="menuId" class="nav__label">
                    <img src="/Menu-responsive/menu.svg" alt="nav__img" width="40px">
                </label>
                <input type="checkbox" id="menuId" class="nav__input">



                <ul class="nav__ul">

                    <li class="nav__item"><a href="#home">Home</a></li>
                    <li class="nav__item"><a href="#seccion_regiones">Regiones</a></li>
                    <li class="nav__item"><a href="/tienda">Tienda</a></li>
                    <li class="nav__item"><a href="mailto:vineyarg@vineyargentina.com.ar">Contacto</a></li>

                    <a href="">
                        <li class="fa-solid fa-bag-shopping nav__item"></li>
                    </a>

                    <a href="">
                        <li class="fa-solid fa-heart nav__item"></li>
                    </a>

                    <a th:if="${session.usuarioSession == null}" th:href="@{/logueo}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>


                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'ADMINISTRADOR'}" th:href="@{/administradorweb(id=${session.usuarioSession.id})}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>

                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'USUARIOCOMUN'}" th:href="@{/usuarioweb(id=${session.usuarioSession.id})}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>

                    <a th:if="${session.usuarioSession != null && session.usuarioSession.tipoUsuario.toString() == 'PRODUCTOR'}" th:href="@{/productorweb(id=${session.usuarioSession.id})}"> 
                        <li class="fa-solid fa-user nav__item"></li>
                    </a>



                    <li class="nav__item"><a th:if="${session.usuarioSession != null}" th:href="@{/logout}"> Cerrar sesion </a><br></li>

                </ul>
            </div>
        </nav>
        <!-- Fin del header -->




        <div class="formulario">
            <div class="imagen imagen-b"> <img class="imagen" src="/imagenes/logoCuadrado.jpg" alt=""></div>
            <section class="cuenta">
                <div class="p_info"></div> 
                <div>
                    <p th:if="${registrado != null}" th:text="${registrado}" style="color:red"></p>
                    <img th:if="${session.usuarioSession.imagen != null}" th:src="@{${'/imagen/usuarioimagen/' + session.usuarioSession.id}}" alt="Tu imagen de perfil"> 
                    <!--                 <img th:if="${session.usuarioSession.imagen == true}" class="img-fluid mb-3" th:text="">-->
                </div>
                <a class="boton_lista" th:href="@{/editar-usuario(id=${session.usuarioSession.id})}">ACTUALIZÁ TUS DATOS</a>

                <a class="boton_lista" th:href="@{/verCompras(id=${session.usuarioSession.id})}"> VER EL ESTADO DE TUS COMPRAS</a>

                <div class="p_info">
                    <div th:if="${compras != null}" th:each="compra : ${compras}">
                        <p th:text="${'Identificador de la Compra ' + compra.id}" </p>
                        <p th:each="item : ${compra.itemCompra}" th:text="${'Producto comprado ' + item.producto.nombre}" </p>
                        <p th:each="item : ${compra.itemCompra}" th:text="${'Precio total pagado ' +  item.totalProducto}" </p>
                        <p th:value="${'precio total con envío ' +  compra.montoFinal}" </p>
                        <p th:value="${'Fecha de la compra ' +  compra.fechaCompra}" </p>
                        <p th:text="${'Estado de tu compra ' +  estadoCompra}" </p>
                        <p th:text="${'Observaciones ' +  compra.observacionesCompra}" </p>

                    </div>
                </div>
            </section>
        </div>


        <!-- Footer -->

        <div class="footer">
            <div class="footer-a">
                <div class="footer-columna-1">
                    <img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg Footer" width="300px">
                    <h3>
                        ¡Comprá los mejores vinos Aquí!
                    </h3>
                </div>
                <div class="footer-columna-2">
                    <h3>Navegacion</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="">Regiones</a></li>
                        <li><a href="">Bodegas</a></li>
                        <li><a href="/tienda">Tienda</a></li>
                        <li><a href="mailto:vineyarg@vineyargentina.com.ar">Contacto</a></li>
                    </ul>
                </div>
                <div class="footer-columna-3">
                    <h3>Nuestras Redes</h3>
                    <div class="redes">
                        <a href="" class="fa fa-instagram"></a>
                        <a href="" class="fa fa-linkedin"></a>
                        <a href="" class="fa-solid fa-at"></a>
                        <a href="" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
            <div class="footer-b">
                <small>&copy; <b>VineyArg</b> - Todos los Derechos Reservados. </small>
            </div>
        </div>

        <!-- Fin del Footer -->

        <div class="separador"></div>

    </body>

</html>