<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VineyArg</title>

        <!-- Links -->
        <!-- CSS -->
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/CSS/registros.css">
        <!-- JavaScript -->
        <script src="/JS/script.js"></script>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
        <!-- Iconos -->
        <script src="https://kit.fontawesome.com/0bb0724c06.js" crossorigin="anonymous"></script>
        <!-- Links -->
    </head>
    <body>

        <form action="/editar-productor" method="POST" enctype="multipart/form-data">

            <p th:if="${error != null}" th:text="${error}" style="color:red";></p>

            <input class="control" type="text" name="nombre" id="" placeholder="Ingresar el Nombre" required="" th:value="${productor.nombre}">
            <input class="control" type="text" name="razonSocial" id="" placeholder="Ingresar la Razon Social" required="" th:value="${productor.razonSocial}">
            <input class="control" type="text" name="domicilio" id="" placeholder="Ingresar el Domicilio" required="" th:value="${productor.domicilio}">
            <input class="control" type="email" name="correo" id="" placeholder="Ingresar un Email" required="" th:value="${productor.correo}">
            <input class="control" type="password" name="contraseña" id="" placeholder="Ingresar una Contraseña" required="" th:value="${productor.clave1}">
            <input class="control" type="password" name="contraseña" id="" placeholder="Repita la contraseña" required="" th:value="${productor.clave1}">
            <input class="control" type="text" name="descripcion" id="" placeholder="Ingresar una Descripción de su bogega" required="" th:value="${productor.descripcion}">
            <select class="control" name="regiones"> 
                  <option th:each="region : ${regiones}" th:value="${region}" placeholder="Ingresar una región" required="" th:text="${productor.region}"></option> 
                  </select>
            <p><input type="checkbox" required=""> Estoy de acuerdo con <a href="/HTML/terminos-condiciones.html">Terminos y Condiciones</a></p>
            <input class="boton" type="submit" value="Actualizar perfil">
        </form>
    </body>

</html>
