<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>

    <!-- Links -->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- JavaScript -->
    <script src="/JS/script.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" <!-- Iconos -->
    <script src="https://kit.fontawesome.com/c3d241543d.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <style>
        .small-img-group {
            display: flex;
            justify-content: space-between;
        }

        .small.img-col {
            flex-basis: 24%;
            cursor: pointer;
        }

        .producto input {
            width: 50px;
            height: 40px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;
        }

        .producto input:focus {
            outline: none;
        }

        .buy-btn {
            background: #000000;
            opacity: 1;
            transition: 0.3s all;

        }
    </style>


</head>

<body>
    <!-- Header -->
    <nav class="etiqueta__nav">
        <div class="nav__container">
            <div class="nav__logo">
                <a href="/index.html"><img src="/imagenes/logofinalTransparente.png" alt="Logo VineyArg"
                        width="200px"></a>
            </div>
            <label for="menuId" class="nav__label">
                <img src="/MENU RESPONSIVE/menu.svg" alt="nav__img" width="40px">
            </label>
            <input type="checkbox" id="menuId" class="nav__input">
            <ul class="nav__ul">
                <li class="nav__item"><a href="/index.html">Home</a></li>
                <li class="nav__item"><a href="">Regiones</a></li>
                <li class="nav__item"><a href="">Bodegas</a></li>
                <li class="nav__item"><a href="">Tienda</a></li>
                <li class="nav__item"><a href="">Contacto</a></li>
                <a href="">
                    <li class="fa-solid fa-bag-shopping nav__item"></li>
                </a>
                <a href="">
                    <li class="fa-solid fa-heart nav__item"></li>
                </a>
                <a href="/HTML/registro.html">
                    <li class="fa-solid fa-user nav__item"></li>
                </a>
                
                <p th:if="${logout != null}" th:text="${'Cerrar sesión'}" th:ref="@{/checkout}" style="color:red"></p>
                <p th:if="${login != null}" th:text="${'Iniciar sesión'}" th:ref="@{/login}" style="color:red"></p>
                
            </ul>
        </div>
    </nav>
    <!-- Fin del header -->

    <section class="container producto my-5 pt-5">
        
        
        <div class="row mt-5">
            <div class="col-lg-5 col-md-12 col-12">
               
                <img th:if="${producto.foto != null}" class="img-fluid w-100 pb-1" th:src="${'/imagen/producto' + producto.id}" alt="">
                   <img th:if="${producto.foto == null}" class="img-fluid w-100 pb-1" th:text="${Producto sin imágen">
              
                  
                <div class="small-img-group">
                    <div class="small-img-col">
                        <img class="small-img" src="/imagenes/productos/LB_Malbec_375.png" width="100%" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" src="/imagenes/productos/LB_Malbec_375.png" width="100%" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" src="/imagenes/productos/LB_Malbec_375.png" width="100%" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" src="/imagenes/productos/LB_Malbec_375.png" width="100%" alt="">
                    </div>
                </div>
            </div>
            
            <div class="col-lg-5 col-md-12 col-12">
                
                <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                
                <form th:if="${compraEnCurso!= null}" action="/finalizarCompra" method="POST">
                   <input th:if="${perfil != null)}" type="hidden" class="form-control" name="idUsuario" th:value="${perfil.id}"/> 
                   <input th:if="${compra != null}" type="hidden" name="idCompra" th:value="$(compra.id)">
                <button class="buy-btn" type="submit" th:text="${'Finalizar pedido'}"></button>
                </form>
                
                <form action="/agregaCarrito" method="POST" enctype="multipart/form-data">
                   <h6 th:text="${producto.productor.nombre}"</h6>
                <h3 class="py-4"th:text="${producto.nombre}"</h3>
                <h2 th:text="${producto.precio}"</h2>
                 <input th:if="${perfil != null)}" type="hidden" class="form-control" name="id" th:value="${perfil.id}"/> 
                 <input type="number" name="cantidad" th:value="$(cantidad)">
                <input type="hidden" name="idProducto" th:value="$(idProducto)">
               
                <button class="buy-btn" type="submit">Agregar al carrito</button>
                 <form>
                <h4 classs="mt-5 mb-5">Descripcion</h4>
                <span th:text="${producto.descripcion}"></span>
            </div>
        </div>
    </section>

    <!-- productos relacionados -->
    <section id="destacados" class="my-5 pb-5">
        <div class="container text-center mt-5 py-5">
            <h3>Productos relacionados</h3>
            <hr class="mx-auto">
        </div>
        <div class="row mx-auto container-fluid">
            <div class="producto text-center cl-lg-3 col-md-4 col-12" th:each="{producto : ${productosSimilares}">
                <img class="img-fluid mb-3" th:src="${'/imagen/producto' + producto.id}" alt="">
                <div class="estrella">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5 class="p-nombre" th:text="${producto.nombre}"></h5>
                <h4 class="p-precio" th:text="${producto.precio}"> </h4>
                <button class="buy-btn" th:href="@{/producto.html/(id=${producto.id})}">Comprar ahora</button>
            </div>
<!--            <div class="producto text-center cl-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3" src="/imagenes/productos/LB_Malbec_375.png" alt="">
                <div class="estrella">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5 class="p-nombre">Luigi Bosca Malbec</h5>
                <h4 class="p-precio">$ 8010,90</h4>
                <button class="buy-btn">Comprar ahora</button>
            </div>
            <div class="producto text-center cl-lg-3 col-md-4 col-12">
                <img class="img-fluid mb-3" src="/imagenes/productos/LB_Malbec_375.png" alt="">
                <div class="estrella">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5 class="p-nombre">Luigi Bosca Malbec</h5>
                <h4 class="p-precio">$ 8010,90</h4>
                <button class="buy-btn">Comprar ahora</button>
            </div>-->
        </div>
    </section>



















    <!-- Footer -->
    <div class="footer">
        <div class="footer-a">
            <div class="footer-columna-1">
                <img src="imagenes/logofinalTransparente.png" alt="Logo VineyArg Footer" width=<h3>
                ¡Comprá los mejores vinos Aquí!
                </h3>
            </div>
            <div class="footer-columna-2">
                <h3>Navegacion</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Regiones</a></li>
                    <li><a href="">Bodegas</a></li>
                    <li><a href="">Tienda</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-columna-3">
                <h3>Nuestras Redes</h3>
                <div class="redes">
                    <a href="" class="fa fa-instagram"></a>
                    <a href="" class="fa fa-linkedin"></a>
                    <a href="" class="fa-solid fa-at"></a>
                    <a href="" class="fa fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="footer-b">
            <small>&copy; <b>VineyArg</b> - Todos los Derechos Reservados. </small>
        </div>
    </div>
    <!-- Fin del Footer -->

    <div class="separador"></div>

    <!-- <script>
        var MainImg = document.getElementById('mainIMG');
        var smallimg = document.getElementsByClassName('small-img');

        smallimg[0].onclick = function ([
            MainImg.src = smallimg[0].src;
        ])
        
        smallimg[1].onclick = function ([
            MainImg.src = smallimg[1].src;
        ])

        smallimg[2].onclick = function ([
            MainImg.src = smallimg[2].src;
        ])
        
        smallimg[3].onclick = function ([
            MainImg.src = smallimg[3].src;
        ])


    </script> -->

</body>

</html>